<div class="mat-stepper-horizontal page-padding">

  <h1>Thank you!</h1>
  <br>
  Your Caseform has been submitted sucessfully!
  <br><br>
  <br><br>

  You can now wait for us to examine the document you just sent.

  <br><br>

  We also just sent you a copy of the caseform displayed here via email at the following address:

  <br><br>
  <div class="emailaddress"> {{email_forwarded_caseform}}</div>
  <div>Your Unique ID : {{unique_id}}</div>

  <br><br>
  We'll do our best in order for your rights to be granted and we'll be in touch with you again soon!
  <br><br>
  Cheers

  <br><br>
  <br><br>
  Westminster Unison Branch


  <br><br>



</div>
